{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./Components",
          "constants": "./Constants",
          "services": "./Servises"
        }
      }
    ]
  ]
}
